body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.highlight{
    color: crimson;
}
p{
    color: dimgray;
    text-align: justify;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, red, tomato);
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.top-section{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.experience{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    text-align: center;
}
.latest-work{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.latest-work img{
    width: 100%;
}
h4{
    color: grey;
}
.appreciation{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.client1{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 50%;
    background-color: honeydew;
    padding: 10px;
}
#client-text{
    font-weight: bold;
    text-align: justify;
    color: rgb(231, 54, 23);
}
#box1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, orange);
    border-image-slice: 1;
}
.client2{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 50%;
    background-color: honeydew;
    padding: 10px;
}
#box2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, green, orange);
    border-image-slice: 1;
}
#message{
    color: seashell;
    text-align: center;
}
#email{
    font-size: 30px;
}
.contact{

    background-color: rgb(231, 54, 23);
    width: 400px;
    margin: 1% 35%;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
footer p{
    text-align: center;
}